.topp {
    position: relative;
    width: 50%;
    text-align: center;
    display: contents;
}

h1 {background-color: yellow;
    width:;
}
p {color: yellow;
    background-color: black;
}
body {position: static;
background-color: yellow;
}